@use '../../base';


.colors_container {
    @include base.flexCenter;
    flex-direction: row;
    gap: 15px;

    .last_colors {
        @include base.flexCenter;
        height: base.$tools_container-height;
        flex-direction: row;
        background-color: white;
        padding: 0px base.$tools_container-padding-width;
        gap: 15px;
        border-radius: base.$tools_container-border-radius;

        .circle {
            width: 30px;
            height: 30px;
            border-radius: 20px;
            border: 0.5px solid black;
            color: #add8e6;
            cursor: pointer;
        }
    }

    .current_color {
        @include base.flexCenter;
        height: base.$tools_container-height;
        padding: 0px base.$tools_container-padding-width;
        background-color: white;
        border-radius: base.$tools_container-border-radius;

        input[type=color] {
            width: 30px;
            height: 35px;
            border-radius: 20px;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }

    }
    
}
