@use '../../base';


.thickness_container {
    @include base.flexCenter;
    justify-content: flex-end;
    height: base.$tools_container-height;
    width: base.$tools_container-height;
    border-radius: base.$tools_container-border-radius;
    background-color: white;
    padding: 0px 10px;

    .thickness {
        @include base.flexCenter;
        flex-direction: column;
        gap: 10px;
        position: relative;
        background-color: white;
        
        padding: 10px 10px;
        bottom: 15px;
        border-radius: base.$tools_container-border-radius;
        box-shadow: 1px 1px 10px rgba(43, 43, 43, 0.305),
                    inset 1px 1px 1px rgba(43, 43, 43, 0.305);
        
        .thickness_option {
            @include base.flexCenter;
            padding: 10px;
            width: 37px;
            height: 37px;
            border-radius: 40px;
            background-color: rgb(0, 0, 0);
        }

        input[type=range] {
            writing-mode: bt-lr;
        }

    }

    .hide {
        display: none;
    }

    .thickness_icon {
        @include base.flexCenter;
        width: 32px;
        margin-bottom: 10px;
        cursor: pointer;
    }
}
