$main-theme-blue: #69C0FF;
$main-theme-black: #262626;
$tools_container-border-radius: 10px;
$tools_container-padding-width: 15px;
$tools_container-height: 50px;

@mixin flexCenter() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
